@import 'wrapper';
@import 'header';
@import 'grid';
@import 'footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  background: #f3f3f3;
}
